div > * {
  border-radius: 5px;
}

.todos {
  li {
    font-size: small;
    font-weight: 500;
    color: rgb(220, 228, 255);
  }

  .remove-todo {
    border: none;
    background-color: tomato;
  }
}

.add-todos > * {
  border: none;
  border-bottom: 3px solid rgb(53, 53, 136);
  color: black;
  margin: 5px;
  background-color: rgb(220, 228, 255);
  padding: 4px;
}
